.adopters-list {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  
.Adopters h3 {
  text-align: center;
}
  .adopters-list-item {
    list-style-type: none;
    padding: 5px;
    font-size: medium;
  }

